@import "variables";
@import "_media-queries";

//font
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

// resets
:root {
   font-size: 62.5%; // 1 rem = 10px
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 1;
}

// generals
body {
   font-family: "DM Sans", sans-serif;
   font-size: 1.8rem;
   min-height: 100vh;
   background: var(--cream);
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   align-items: center;
   justify-content: center;
}
h2 {
   font-size: 1.8rem;
   font-weight: 400;
}

// tree

//HEADER
header {
   color: var(--pale-orange);
   width: 55rem;
   height: 12.5rem;
   background: var(--soft-red);
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   border-radius: 2rem;
   padding: 0 3.5rem;
   margin-bottom: 2.1rem;
   @include xs {
      max-width: 55rem;
      width: 94%;
      padding: 0 2rem;
   }
   .balance {
      span {
         display: block;
         margin-top: 1rem;
         font-size: 3.3rem;
         font-weight: 700;
      }
   }
   .logo {
      width: 7.2rem;
      height: 4.8rem;
      background: url("../images/logo.svg");
   }
}
// MAIN
section {
   width: 55rem;
   background: white;
   border-radius: 2rem;
   padding: 0 3.5rem;
   display: flex;
   flex-flow: column nowrap;
   @include xs {
      width: 94%;
      max-width: 55rem;
      padding: 0 2rem;
   }
   // H1 "Spending - Last 7 days"
   h1 {
      margin: 3.5rem 0;
      font-size: 3.3rem;
      color: var(--dark-brown);
      font-weight: 700;
      @include xs {
         font-size: 2.7rem;
         margin: 2.5rem 0;
      }
   }
   // CANDLE + DAYS container
   .week-chart {
      margin-top: 3rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;
      height: 17rem;
      width: 100%;
      .candle-container {
         flex: 1 1;
         display: flex;
         flex-flow: column nowrap;
         text-align: center;
         font-size: 1.6rem;
         position: relative;
         transition: 0.5s all;
         .candle {
            background-color: var(--soft-red);
            border-radius: 0.5rem;
            flex: 1 1 auto;
            margin: 0 0.9rem;
            @include xs {
               margin: 0 0.5rem;
            }
            transition: 0.5s all;
            &:hover {
               opacity: 0.5;
               cursor: pointer;
            }
         }
         p {
            margin-top: 0.5rem;
            color: var(--medium-brown);
         }
         // POP-UP WHEN OVER A CANDLE
         .pop-up {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -4.8rem;
            left: center;
            width: 100%;
            height: 4rem;
            background: var(--dark-brown);
            color: var(--pale-orange);
            font-size: 1.7rem;
            font-weight: 700;
            border-radius: 0.5rem;
            padding: 0.6rem 0;
            animation: fadeIn 0.5s;
            @include xs {
               width: 100%;
               font-size: 1.3rem;
            }
         }
      }
      //ANIMATION
      @keyframes fadeIn {
         from {
            opacity: 0;
            transform: translateY(-4rem);
         }
         to {
            opacity: 1;
            transform: translateY(-0rem);
         }
      }
   }
   // SEPARATOR BAR
   .separator {
      width: 100%;
      height: 0.2rem;
      background: var(--cream);
      margin: 3rem 0;
   }
   // FOOTER
   .total-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 5rem;
      @include xs {
         margin-bottom: 3rem;
      }
      // "Total this month & "from last month
      h2 {
         color: var(--medium-brown);
      }
      span {
         color: var(--dark-brown);
      }
      .total-container-left {
         .month-total {
            font-size: 4.5rem;
            font-weight: 700;
            @include xs {
               font-size: 3.5rem;
            }
         }
      }
      .total-container-right {
         display: flex;
         flex-flow: column nowrap;
         justify-content: end;
         .pourcentage-last-month {
            font-weight: 700;
            font-size: 2rem;
            text-align: end;
         }
      }
   }
}
